<h1 class="auth-title">Upload a Study Spot</h1>

{{#if error}}
    <div class="error-message">{{error}}</div>
{{/if}}

<div class="form-container">
	<form id="uploadForm" method="POST" action="/studyspots/upload"  enctype="multipart/form-data" class="auth-form">
	<div class="form-group">
		<label for="title">Title:</label>
		<input type="text" name="title" id="title" required class="form-input">
	</div>

	<div class="form-group">
		<label for="description">Description:</label>
		<textarea name="description" id="description" rows="5" required class="form-input"></textarea>
	</div>

	<div class="form-group">
		<label for="location">Location:</label>
		<input type="text" name="location" id="location" required class="form-input">
	</div>

	<div class="form-group">
		<label>Resources Nearby:</label>
		<div>
			<label><input type="checkbox" name="resourcesNearby" value="printer"> Printer</label>
			<label><input type="checkbox" name="resourcesNearby" value="water fountain"> Water Fountain</label>
			<label><input type="checkbox" name="resourcesNearby" value="vending machine"> Vending Machine</label>
			<label><input type="checkbox" name="resourcesNearby" value="scanner"> Scanner</label>
			<label><input type="checkbox" name="resourcesNearby" value="whiteboard"> Whiteboard</label>
			<label><input type="checkbox" name="resourcesNearby" value="outlets"> Outlets</label>
			<label><input type="checkbox" name="resourcesNearby" value="external monitors"> External Monitors</label>
		</div>
	</div>

	<div class="form-group">
		<label for="noiseLevel">Noise Level (1 being normal conversation, 3 being silent): <span id="noiseLevelDisplay" style="font-weight: bolder;">2</span> </label>
		<input type="range" name="noiseLevel" id="noiseLevel" min="1" max="3" step="1" class="form-input">
	</div>

	<div class="form-group">
		<label for="image">Upload Image:</label>
		<input type="file" name="image" id="image" accept="image/*">
	</div>

	<button type="submit" class="submit-btn">Upload</button>
	</form>
</div>

<script>
  // Update the noise level display as the slider is moved
  document.getElementById('noiseLevel').addEventListener('input', function () {
    const noiseLevelValue = this.value;
    document.getElementById('noiseLevelDisplay').textContent = noiseLevelValue;
  });
</script>

<script src="/public/js/studySpotEditCreate.js"></script>